{% extends "base.html" %}

{% block content %}
</br> Загрузите файл с данными в формате json
</br></br>
<form class="load_form" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit">Загрузить</button>
        </div>
        <div class="custom-file">
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
    </div>
</form>
Пример структуры файла: </br></br>
<pre><var>
{
  "weather": [
    {
      "location_id": 1,
      "date": "28.04.23",
      "clouds": "YES",
      "temperature": 14,
      "water_temperature": 12,
      "precipitation_type": "rain",
      "precipitation_value": "100",
      "wind_direction": "WEST",
      "wind_velocity": 70,
      "atmospheric_pressure": 755
    },
    {
      "location_id": 1,
      "date": "29.04.23",
      "clouds": "YES",
      "temperature": 14,
      "water_temperature": 12,
      "precipitation_type": "rain",
      "precipitation_value": "100",
      "wind_direction": "WEST",
      "wind_velocity": 70,
      "atmospheric_pressure": 755
    }
  ]
}</var></pre>
{% endblock %}