{% extends "base.html" %}

{% block content %}
</br> Загрузите файл с данными в формате json
</br></br>
<form class="load_form" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit">Загрузить</button>
        </div>
        <div class="custom-file">
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
    </div>
</form>
Пример структуры файла: </br></br>
<var><code>
{</br>
&nbsp;&nbsp;"weather": {</br>
&nbsp;&nbsp;&nbsp;&nbsp;"location_id": 1,</br>
&nbsp;&nbsp;&nbsp;&nbsp;"date": "27.04.23",</br>
&nbsp;&nbsp;&nbsp;&nbsp;"clouds": "NO",</br>
&nbsp;&nbsp;&nbsp;&nbsp;"temperature": 12,</br>
&nbsp;&nbsp;&nbsp;&nbsp;"water_temperature": 11,</br>
&nbsp;&nbsp;&nbsp;&nbsp;"precipitation_type": "rain",</br>
&nbsp;&nbsp;&nbsp;&nbsp;"precipitation_value": "900",</br>
&nbsp;&nbsp;&nbsp;&nbsp;"wind_direction": "EAST",</br>
&nbsp;&nbsp;&nbsp;&nbsp;"wind_velocity": 90,</br>
&nbsp;&nbsp;&nbsp;&nbsp;"atmospheric_pressure": 765</br>
&nbsp;&nbsp;}</br>
}</br>
</code></var>
{% endblock %}